<div class="contenedor">  
<form onsubmit="return sendMessage()">
  <div class="mb-3">
    <label for="exampleInput1">User:</label>
    <input type="text" class="form-control" id="username" >
  </div>
  <div class="mb-3">
    <label for="exampleInput2">Text:</label>
      <input type="text" class="form-control" id="text" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

<div id="caja"></div>













<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>