<h1>Productos de db</h1>
<div id="listaProducts">
    <ul class="list-group">
  {{#each products}}
  <li class="list-group-item"> <p class="propiedad">TITLE:</p> {{title}}</li>
  <li class="list-group-item"><p class="propiedad">ID:</p> {{id}}</li>
  {{/each}}
</ul>
</div>


